# Dependencies
/node_modules
/.pnp
.pnp.js

# Build artifacts
/.next/
/out/
/build

# Static exports
/export

# Local Environment Variables
# Exclude all .env files from Git to protect sensitive information.
# A .env.example file can be checked in as a template.
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

# Optional files
.firebase/
*.cache
*.log
/coverage
